/* COLORS
    (48,49,72) - Dark
    (85,75,97) - Medium
    (107,112,127) - Gray
    (220,202,195) - Light
    (135,106,75) - Brown
*/

#mapcontainer { 
    height: 23.5rem;
}

.conference-selection-img {
    width: 2.5rem;
    height: auto;
}

.leaflet-control-attribution {
    font-size: 5px;
}

.hawaii-map-overlay .leaflet-control-attribution {
    display: none;
}

/* Nav Styles */
.navbar {
    background-color: rgb(85,75,97);
    color: rgb(220,202,195);
}

.navbar a {
    color: inherit;
}

.dropdown-item {
    margin: auto;
    padding: 0.5rem 1rem;
}

.navbar-logo {
    height: 2rem;
}

@media screen and (min-width: 768px){
    .dropdown-menu-conferences {
        width: 26rem;
    }
}

.sport-selection-img {
    height: 1rem;
}

.autoscroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85,75,97);
    color: rgb(220,202,195);
    margin: 0 0.5rem;
}

.autoscroll-button button {
    background-color: inherit;
    border: none;
    color: inherit;
}

.autoscroll-button img {
    height: 1.5rem;
}


/* Timeline Styles */
.timeline-year {
    background-color: rgb(85,75,97);
    color: rgb(220,202,195);
    text-align: center;
}