#mapcontainer { 
    height: 23.5rem;
}

.conference-buttons-bay {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conference-selection-button {
    height: 6rem;
    width: 6rem;
    margin: 0.5rem;
}

.conference-selection-img {
    width: 3rem;
}

.leaflet-control-attribution {
    font-size: 5px;
}

.hawaii-map-overlay .leaflet-control-attribution {
    display: none;
}