/* COLORS
    (48,49,72) - Dark
    (85,75,97) - Medium
    (107,112,127) - Gray
    (220,202,195) - Light
    (135,106,75) - Brown
*/

#mapcontainer { 
    height: 23.5rem;
}

.conference-selection-img {
    width: 2.5rem;
    height: auto;
}

.leaflet-control-attribution {
    font-size: 5px;
}

.hawaii-map-overlay .leaflet-control-attribution {
    display: none;
}

/* Nav Styles */
.navbar {
    background-color: rgb(0,37,76);
    color: white;
}

.navbar a {
    color: inherit;
}

.navbar-toggler-img {
    border: none;
    width: 2rem;
}

.dropdown-item {
    margin: auto;
    padding: 0.5rem 1rem;
}

.navbar-logo {
    height: 2rem;
}

@media screen and (min-width: 768px){
    .dropdown-menu-conferences {
        width: 26rem;
    }
}

.sport-selection-img {
    height: 1rem;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.autoscroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: white;
    padding: 0;
    margin: 0 0.5rem;
}

.autoscroll-button button {
    background-color: inherit;
    border: none;
    color: inherit;
    margin: 0;
}

.autoscroll-button button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.autoscroll-button img {
    height: 2rem;
}


/* Timeline Styles */
.timeline-year {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: "Freight Text", Freight, serif;
    text-align: center;
}

.line-dot:hover {
    cursor: pointer;
}

.triangle {
    width: 0;
    height: 0;
    margin: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(0, 37, 76);
    position: relative;
}